<div class="game_loading"  data-game-target='loading' hidden>
  <div class="loading-container">
    <div class="game_winner"> 
      <h3>WAITING CURB’S CHOOSE</h3>
      <div class="bets-container">
        <div class="throw-info">
          <div> 
            <%= image_tag "#{player_throw}.svg",  width: '60' %>
          </div>
          <h4>Your bet</h4>
        </div>
        <div class="throw-info">
          <div class="pt-5"> <%= image_tag "loader.svg",  width:'60' %></div>
          <div> <%= image_tag "curb.png",  width:'40' %></div>
        </div>
      </div>
    </div>
  </div>
</div>
