/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
  font-family: 'Montserrat', sans-serif!important;
  box-sizing: border-box;
 }

 .game-container{
  width: 700px;
  margin: auto;
  text-align: center;
  margin-top: 1rem;
  position: relative;
 }
 h1{
  color: #36006C!important;
  font-size: 3rem!important;
  text-align: center;
 }

 h3{
  color: #000000;
  font-size: 21px!important;
 }

 h2{
  text-transform: capitalize;
 }

 p{
  color: #00000085;
  font-family: 'Roboto', sans-serif;
  text-align: start;
  width: 654px;
  margin: auto;
  text-align:justify
 }

 .game_cards{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
 }

 .throw-card{
  width: 240px;
  height: 263px;
  padding: 33px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  transition: 0.2s all;
 }

 .throw-card:hover {
  background: #F8F8F8 0% 0% no-repeat padding-box;
  cursor: pointer;
 }
 .throw-card h3{
  color: #36006C;
  text-transform: capitalize;
 }

 .game_scores{
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
 }

 .game_loading,  .game-winner{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  /* opacity: 0.72; */
 }

 .game_winner-container h3{
  color: #36006C;
  font-size: 32px;
 }

 .loading-container, .game-winner_container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 40px #0000001A;
  border-radius: 5px;
  opacity: 1;
  width: 750px;
  height: 492px;
  margin: auto;
 }

.game_bets{
  margin-top: 4rem;
}

 .game-winner_container{
  width: 400px;
 }

 .game-winner_container p{
  text-align: center;
  width: 100%;
 }

 .bets-container{
  display: flex;
  justify-content: space-around;
 }

 .throw-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
 }

 .game-winner_button{
  background: #36006C 0% 0% no-repeat padding-box;
  border-radius: 5px;
  width: 352px;
  height: 73px;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  display: flex;
  transition: 0.1s;
 }

 .ok-btn{
  color: #FFFFFF;
  text-decoration: none;
  font-size: 32px;
  width: 100%;
 }

 .ok-btn:hover{
  color: rgba(255, 255, 255, 0.874);
 }

 .game-winner_button:hover{
  background: #36006cba 0% 0% no-repeat padding-box;
 }

 .hidden{
  visibility: hidden;
 }

 .d-block{
  display: block;
 }

 .reset-btn{
  border: 2px solid #36006C;
  border-radius: 5px;
  padding: 5px 20px;
 }
 button{
  background-color: #fff;
  border: none;
 }